/* toolbar.component.css */
.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00a5e4;
  color: white
}

.sabesp-logo {
  margin-right: 16px;
}

.sabesp-logo2 {
  margin-right: 32px;
}

.title {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Roboto Medium", "Roboto", sans-serif;
  font-weight: 500;
  text-align: right;
  line-height: normal;
  margin-right: 8px;
  color: white;
}

.prototype {
  background-color: red;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.spacer {
  flex: 1 1 auto;
}

.user-avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

.divisor-vertical {
  width: 1px;
  height: 29px;
  border-radius: 10px;
  background-color: #57bee9;
  box-sizing: border-box;
  margin-right: 24px;
}

.icon-not {
  margin-left: 10px;
  width: 33px;
  height: 31px;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}

/* footer.component.css */
.footer {
  background-color: #00a5e5;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}

.footer::before {
  content: '';
  display: block;
  height: 4px;
  background-color: #66bb6a; /* Cor verde */
}

