<!-- toolbar.component.html -->
<mat-toolbar class="custom-toolbar">
  <img ngSrc="/assets/logo2.png" height="29" width="29" alt="Sabesp Logo" class="sabesp-logo">
  <img ngSrc="/assets/logo3.png" height="29" width="102" alt="Sabesp Logo" class="sabesp-logo2">
  <span class="divisor-vertical"></span>
  <span class="title">Sistema de Macro Medicão</span>
  <span class="prototype">Protótipo</span>
  <span class="spacer"></span>
  <div *ngIf="userName">
  <img src="https://avatars.githubusercontent.com/u/1054025?v=4" alt="user-avatar" class="user-avatar">
  <span>{{ userName }}</span>
  <mat-icon class="icon-not">notifications</mat-icon>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  </div>
</mat-toolbar>


