<div class="comunicacao-interna">
  <div class="pesquisar-comunicacao">
    <div class="pesquisa-form">
      <h4>Pesquisar Comunicação Interna</h4>
      <div class="row">
        <div class="col">
          <label for="numeroFormulario">Nº do Formulário</label>
          <input id="numeroFormulario" type="text" placeholder="Pesquisar por Nº do Formulário"
                 formControlName="numeroFormulario">
        </div>
        <div class="col">
          <label>Data de Envio</label>
          <p-calendar [iconDisplay]="'input'" [showButtonBar]="true" [showIcon]="true"
                      formControlName="dataEnvio" dateFormat="dd/mm/yyyy"
                      placeholder="dd/mm/aaaa" class="custom-calendar"></p-calendar>
        </div>
        <div class="col">
          <label for="situacao">Situação</label>
          <select id="situacao" formControlName="situacao">
            <option value="">Selecione</option>
            <option *ngFor="let situacao of situacoes" [value]="situacao.value">{{ situacao.label }}</option>
          </select>
        </div>
          <div class="col btn-pesquisar">
            <button type="button" class="btn primary" (click)="onPesquisar()">Pesquisar</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-content">
  <h4>Comunicações Internas</h4>
  <div class="col btn-cadastrar">
    <button type="button" class="btn primary" (click)="onAdicionar()">Adicionar</button>
  </div>
  <table class="comunicacoes-tabela">
    <thead>
    <tr class="headers-comunicacao">
      <th>Nº do Formulário</th>
      <th>Código de Transferência</th>
      <th>Data</th>
      <th>Unidade Remetente</th>
      <th>Situação</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comunicacao of comunicacoes">
      <td>{{ comunicacao?.numeroFormulario }}</td>
      <td>{{ comunicacao?.codigoTransferencia }}</td>
      <td>{{ comunicacao?.dataEnvio }}</td>
      <td>{{ comunicacao?.unidadeRemetente }}</td>
      <td>{{ comunicacao?.situacao }}</td>
      <td>
        <button class="icon-button" (click)="onEditarComunicacao(comunicacao.id)">
          <mat-icon>edit_square</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <mat-paginator [length]="totalElements"
                 [pageSize]="size"
                 [pageSizeOptions]="[10, 20, 50]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
