<app-toolbar></app-toolbar>
<mat-sidenav-container class="menu-container">
  <mat-sidenav mode="side" opened #sidenav class="custom-sidenav" [class.sidebar-collapsed]="isCollapsed">
    <button (click)="toggleSidebar()" class="toggle-button">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Página Inicial</span>
      </a>
      <a mat-list-item routerLink="/macromedicao" routerLinkActive="active-link">
        <mat-icon>assignment</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">macromedicao</span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{ isSubMenuOpen('macromedicao') ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>

      <a mat-list-item (click)="toggleSubMenu('cadastro')">
        <mat-icon>settings</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Cadastros</span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{ isSubMenuOpen('cadastro') ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <mat-nav-list *ngIf="isSubMenuOpen('cadastro')">
        <a mat-list-item routerLink="/estruturas" routerLinkActive="active-link">
         Estruturas
        </a>
      </mat-nav-list>

      <a mat-list-item routerLink="/comunicacao-interna" routerLinkActive="active-link">
        <mat-icon>description</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Comunicação Interna</span>
      </a>
      <a mat-list-item routerLink="/ensaios" routerLinkActive="active-link">
        <mat-icon>science</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Ensaios</span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{ isSubMenuOpen('ensaios') ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <mat-nav-list *ngIf="isSubMenuOpen('ensaios')">
      </mat-nav-list>
      <a mat-list-item (click)="toggleSubMenu('sistema')">
        <mat-icon>settings</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">Sistema</span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{ isSubMenuOpen('sistema') ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <mat-nav-list *ngIf="isSubMenuOpen('sistema')">
        <a mat-list-item routerLink="/gerenciar-usuarios" routerLinkActive="active-link">
               Gerenciar Usuários
        </a>
        <a mat-list-item routerLink="/parametros" routerLinkActive="active-link">
               Parâmetros
        </a>
        <a mat-list-item routerLink="/notification" routerLinkActive="active-link">
          Central de Notificações
        </a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content" [class.main-content-collapsed]="isCollapsed">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
