<div class="pesquisar-usuario">
  <div class="pesquisa-form">
    <div class="row">
      <div class="col">
        <label for="codigo">Unidade de Negócio</label>
        <select id="codigo" formControlName="perfil">
          <option value="">Selecione</option>
          <option *ngFor="let item of unidadeNegocio" [value] = "item.nmUnidadeNegocio"> {{item.nmUnidadeNegocio}} </option>
        </select>
      </div>
      <div class="col btn-pesquisar">
        <button type="button" class="btn primary" >Pesquisar</button>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col">
          <h4>Unidades de negócio</h4>
        </div>
        <div class="col">
          <button type="button" class="btn primary" >Exportar</button>
          <button type="button" class="btn " > + Adicionar</button>
        </div>

      </div>

      <table class="usuarios-tabela">
        <thead>
        <tr>
          <th>Codigo</th>
          <th>Nome da Unidade de Negócio</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of unidadeNegocio">
          <td>{{ item?.codigoUnidade }}</td>
          <td>{{ item?.nmUnidadeNegocio }}</td>

          <td>
            <button class="icon-button">
              <mat-icon>edit_square</mat-icon>
            </button>
            <button class="icon-button">
              <mat-icon>assignment</mat-icon>
            </button>
            <button class="icon-button" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
