<div class="row">
  <div class="search-container">
    <input type="text" placeholder="Pesquisa rápida..." class="search-input">
    <button class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<div class="custom-form">
  <div class="form-card">
    <div class="ola">Olá <span *ngIf="userName">{{ userName }}</span>, bem-vindo ao Sistema de Macromedicão</div>
    <br>
    <div class="necessita">O que você necesita hoje?</div>
    <div class="form-content">
      <h3>Informações</h3>
      <div class="row">

      </div>
    </div>
  </div>
</div>
